name: Generate Snake

# Controla quando a ação será executada
on:
  schedule:
    # executa a cada 12 horas
    - cron: "0 */12 * * *"
  
  # permite executar manualmente na aba Actions
  workflow_dispatch:
  
  # executa a cada push na branch master/main
  push:
    branches:
    - master
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          # nome do usuario github
          github_user_name: ${{ github.repository_owner }}
          # lista de arquivos para gerar (svg e gif, tema dark e light)
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
